260407_0.1_h3w6_1~1_h2700_r-pan.gcode
260417_p-0.1_h3w6_pnl-01-flat.gcode
260420_p-1.3_h3w6_pnl-03_test5.gcode
__pycache__/GCodeViewr_Vista.cpython-314.pyc
.DS_Store
.zed/gvtest1.py
.zed/tasks.json
219.gcode
__pycache__/GCodeViewr_Vista.cpython-314-pytest-9.0.3.pyc
slice_test.py
test_ribbon.py
LLM-test/test1.py
__pycache__/gcode-3dm.cpython-313.pyc
__pycache__/gcode-stl.cpython-313.pyc
__pycache__/glbtest.cpython-313.pyc
__pycache__/glbv2.cpython-313.pyc
__pycache__/glbview.cpython-313.pyc
__pycache__/glbview2.cpython-313.pyc
__pycache__/lasedit.cpython-313.pyc
__pycache__/lastoglb.cpython-313.pyc
__pycache__/lastoglb2.cpython-313.pyc
logs/glb_viewer_20260721_130036.log
logs/glb_viewer_20260721_130301.log
logs/glb_viewer_20260721_130549.log
logs/ply_viewer_20260721_131510.log
logs/ply_viewer_20260721_131127.log
logs/ply_viewer_20260721_131718.log
logs/glb_viewer_20260721_130734.log
